body
{
  background: url(tiger.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;

  -moz-background-size: cover;

  -ms-background-size: cover;

  -o-background-size: cover;

  background-size: cover;
}

.header {
  font-family: 'Titillium Web', sans-serif;
  margin-bottom: 350px;
}


.add_room_button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #000000;
  font-family: "Verdana";
  color: #F8F8FF;
  border: none;
}

.header_title {
  font-weight:bold;
  color: #F8F8FF;
  font-size: 100px;
  text-indent: 10px;
}

.welcome_sign {
  font-family: "Verdana";
  color: #333333;
  font-size: 30px;
}

input[type="text"] {
  font-family: "Verdana";
  font-size: 15px;
}

#room_url{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #000000;
  border: none;
  border-bottom: solid 2px #969696;
  margin-bottom: 100px;
}
.focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #000000;
  border: none;
  border-bottom: solid 2px #969696;
  margin-bottom: 100px;
}
