body
{
  background: url(pic/blue.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;

  -moz-background-size: cover;

  -ms-background-size: cover;

  -o-background-size: cover;

  background-size: cover;
}

.header {
  font-family: 'Titillium Web', sans-serif;
  margin-bottom: 20px;
  display: inline-block;
}

.header_title {
  font-weight:bold;
  color: #F8F8FF;
  font-size: 100px;
  text-indent: 10px;
}

.play {
  display: inline-block;
  margin-left: 50px;
  position: relative;
  top: -20px;
}
.all_header {
  width: 100%;
  text-align: center;
}

.request {
  position:fixed;
  width:100px;
  height:100px;
  top:400px;
  text-indent: 50px;
  color: #FFFFFF; 
  margin-bottom: 100px;
  font-size: 25px;
}

.playlist {
  text-indent: 50px;
  color: #FFFFFF; 
  font-size: 25px;
  margin-bottom: 10px;
}
input[type="text"] {
  padding-left: 10px;
  font-family: "Verdana";
  font-size: 15px;
}

.share_button {
  font-weight: normal;
  font-family: "Verdana";
  font-size: 15px;
}
#room_url{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #000000;
  border: none;
  margin-bottom: 100px;
  font-size: 15px;
}
.focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #000000;
  border: none;
  border-bottom: solid 2px #969696;
  margin-bottom: 100px;
}
