body
{
  background: url(pic/blue.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;

  -moz-background-size: cover;

  -ms-background-size: cover;

  -o-background-size: cover;

  background-size: cover;
}

.header {
  font-family: 'Titillium Web', sans-serif;
  margin-bottom: 20px;
  display: inline-block;
}

.header_title {
  font-weight:bold;
  color: #F8F8FF;
  font-size: 100px;
  text-indent: 10px;
}

.play {
  display: inline-block;
  margin-left: 50px;
  position: relative;
  top: -20px;
}

.play button, .play button:hover, .play button:active, .play button:focus, .play button:visited {
  margin-left: -30px;
  background: none;
  color: white;
}


.all_header {
  width: 100%;
  text-align: center;
}

.all_request {
  width: 100%;
}

.request {
  display: inline-block;
  text-indent: 50px;
  color: #FFFFFF; 
  font-size: 30px;
}

.add_request {
  display: inline-block;
}

.add_song {
  display: inline-block;
  margin-left: -5px;

}

.add_request button, .add_request button:hover, .add_request button:active, .add_request button:focus, .add_request button:visited {
  background: none;
  color: white;
  margin-left:20px;
  margin-bottom: 20px;
  border: none;
}
.playlist {
  position:fixed;
  width:100px;
  height:100px;
  top:400px;
  text-indent: 50px;
  color: #FFFFFF; 
  font-size: 30px;
  margin-bottom: 10px;
}
input[type="text"] {
  padding-left: 10px;
  font-family: "Verdana";
  font-size: 25px;
  color: white;
}

.focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  border-bottom: solid 2px #969696;
}
