body
{
  background: url(pic/blue.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;

  -moz-background-size: cover;

  -ms-background-size: cover;

  -o-background-size: cover;

  background-size: cover;
}

.header {
  font-family: 'Titillium Web', sans-serif;
  margin-bottom: 20px;
  display: inline-block;
}

.header_title {
  font-weight:bold;
  color: #F8F8FF;
  font-size: 100px;
  text-indent: 10px;
}

.play {
  display: inline-block;
  margin-left: 50px;
  position: relative;
  top: -20px;
}

.play button, .play button:hover, .play button:active, .play button:focus, .play button:visited {
  margin-left: -30px;
  background: none;
  color: white;
}


.all_header {
  width: 100%;
  text-align: center;
}

.all_request {
  width: 100%;
}

.request {
  display: inline-block;
  text-indent: 50px;
  color: #FFFFFF; 
  font-size: 40px;
}

.add_request {
  display: inline-block;
  width: 10px;
  height: auto;
}

.add_request button, .add_request button:hover, .add_request button:active, .add_request button:focus, .add_request button:visited {
  background: none;
  color: white;
  margin-left:20px;
  margin-bottom: 20px;
}
.playlist {
  position:fixed;
  width:100px;
  height:100px;
  top:400px;
  text-indent: 50px;
  color: #FFFFFF; 
  font-size: 40px;
  margin-bottom: 10px;
}
input[type="text"] {
  padding-left: 10px;
  font-family: "Verdana";
  font-size: 15px;
}

.share_button {
  font-weight: normal;
  font-family: "Verdana";
  font-size: 15px;
}
#room_url{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #000000;
  border: none;
  margin-bottom: 100px;
  font-size: 15px;
}
.focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #000000;
  border: none;
  border-bottom: solid 2px #969696;
  margin-bottom: 100px;
}
