<html>
<head>

		<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<title>Listen here!</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="//connect.soundcloud.com/sdk.js"></script>
	<link rel="stylesheet" href="teststyle.css"/>
</head>
<body>
	<h1>time to listen</h1>
	<input type="button" href="#" id="stream" class="btn btn-primary" value="Get song info" />
	<script src="static/index.js"></script>
</body>
</html>
